*{
    margin: 0;
    padding: 0;

    cursor: url("./images/nixonCursor.png"), pointer;
}

body{
    background-image: url(./images/voteBackground.png);
    background-size: 100%;
    overflow: hidden;
}
#mainArea{
    display: flex;
    background-color: #fdfaea;
    margin: 3rem 18rem 0 18rem;
    border: #000040 1rem solid;
    border-radius: 10%;
    justify-content: space-evenly;
    margin-bottom: 100rem;
}
.flexArea{
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
}

p{
    position: absolute;
    top: 400px;
    left: 400px;
    font-weight: 700;
    font-size: xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orange;
    transition: all 4s;
}
#presidentImg, #nixonImg{
    width: 20rem;
    margin: 1rem;
    border-radius: 10%;
}
#nixonButton, #johnsonButton{
    width: 20rem;
    height: 8.5rem;
    margin: 1rem;

    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #00000000;
    border: hidden;
}
#nixonButton{
    background-image: url(./images/nixonButton.png);
    cursor: url("./images/yesCursor.png"), pointer;
}
#johnsonButton {
    background-image: url(./images/johnsonButton.png);
    cursor: not-allowed;
    display: block;
}
#postButton{
    width: 200px;
    height: 100px;
    background-image: url("./images/nixonButton.png");
    background-size: 100%;
    display: absolute;
    top:100px;
    background-repeat: no-repeat;
}